.div_container {
   display: grid;

   grid-template-columns: 1110px 1fr;

   height: 75vh;

   outline: 1px solid var(--border-color);

   border-radius: var(--radius-lg);
}

.map_container {
   height: 75vh;
}
